## In Class Activity - September 1, 2022

This activity is meant to give you some exploration of topics within class. I've created the code for you to run the activity and explore some data. 

The goals of this activity are as follows: 

1. Explore what happens if the X and Y attributes are flipped in a linear regression. 
    + What happens to the linear regression coefficient estimates (ie., the $\hat{\beta}$)?
    + What happens to the sigma and R-Square statistics?
2. Given what you find in #1, how do you decide which attribute should be an outcome (Y) vs a predictor (X)?

In [11]:
library(tidyverse)
library(palmerpenguins)
library(ggformula)

theme_set(theme_bw(base_size = 16))

head(penguins)

model_fit <- function(outcome, predictor, data = penguins) {
    formula <- as.formula(paste(outcome, predictor, sep = "~"))
    model_out <- lm(formula, data = data)

    model_coef <- data.frame(matrix(c(coef(model_out)), ncol = 2))
    names(model_coef) <- c("Intercept", "Slope")

    data.frame(model_coef, 
    Rsquare = summary(model_out)$r.square,
    sigma = summary(model_out)$sigma)
}

  species island    bill_length_mm bill_depth_mm flipper_length_mm body_mass_g
1 Adelie  Torgersen 39.1           18.7          181               3750
2 Adelie  Torgersen 39.5           17.4          186               3800
3 Adelie  Torgersen 40.3           18.0          195               3250
4 Adelie  Torgersen   NA             NA           NA                 NA
5 Adelie  Torgersen 36.7           19.3          193               3450
6 Adelie  Torgersen 39.3           20.6          190               3650
  sex    year
1 male   2007
2 female 2007
3 female 2007
4 NA     2007
5 female 2007
6 male   2007

In [14]:
model_fit(outcome = 'bill_length_mm',
          predictor = 'flipper_length_mm',
          data = penguins)

  Intercept Slope     Rsquare  sigma
1 -7.264868 0.2547682 0.430574 4.125874