## Inference Practice - In class

Inference attempts to help us make statements about the population of interest given the sample data that we have. Inference is only needed if sample data is obtained. If data from the entire population is obtained, descriptive statistics are sufficient. 

### Steps in Inference

1. Generate hypotheses, ie null and alternative hypotheses.
2. Establish an $\alpha$ value
3. Estimate parameters
4. Compute test statistic
5. Generate p-value


### General Research Question
Does the year of data help understand differences in average or median hourly nurse pay?

### Data Description
The data are state level data about nurse pay from all United States, including Puerto Rico, Washington DC, Guam, and US Virgin Islands. 

#### Actual data

|attribute                                        |class     |description |
|:-----------------------------------------------|:---------|:-----------|
|State                                           |character | State |
|Year                                            |double    | Year|
|Total Employed RN                               |double    | Total Employed Registered Nurses |
|Employed Standard Error (%)                     |double    | Employed standard error (%) |
|Hourly Wage Avg                                 |double    | Hourly wage average|
|Hourly Wage Median                              |double    | Hourly wage median |
|Annual Salary Avg                               |double    | Annual salary average |
|Annual Salary Median                            |double    | Annual salary median |
|Wage/Salary standard error (%)                  |double    | Wage/salary standard error % |
|Hourly 10th Percentile                          |double    | Hourly 10th Percentile               |
|Hourly 25th Percentile                          |double    | Hourly 25th Percentile                         |
|Hourly 75th Percentile                          |double    | Hourly 75th Percentile                         |
|Hourly 90th Percentile                          |double    | Hourly 90th Percentile                         |
|Annual 10th Percentile                          |double    | Annual 10th Percentile                         |
|Annual 25th Percentile                          |double    | Annual 25th Percentile                         |
|Annual 75th Percentile                          |double    | Annual 75th Percentile                         |
|Annual 90th Percentile                          |double    | Annual 90th Percentile                         |
|Location Quotient                               |double    | Location Quotient                              |
|Total Employed (National)_Aggregate             |double    | Total Employed (National)_Aggregate            |
|Total Employed (Healthcare, National)_Aggregate |double    | Total Employed (Healthcare, National)_Aggregate|
|Total Employed (Healthcare, State)_Aggregate    |double    | Total Employed (Healthcare, State)_Aggregate   |
|Yearly Total Employed (State)_Aggregate         |double    | Yearly Total Employed (State)_Aggregate        |

In [1]:
library(tidyverse)
library(ggformula)

theme_set(theme_bw(base_size = 16))

nurses <- readr::read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2021/2021-10-05/nurses.csv')

head(nurses)

-- Attaching packages --------------------------------------- tidyverse 1.3.2 --
v ggplot2 3.3.6      v purrr   0.3.4
v tibble  3.1.8      v dplyr   1.0.10
v tidyr   1.2.1      v stringr 1.4.1
v readr   2.1.2      v forcats 0.5.2
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Loading required package: ggstance


Attaching package: 'ggstance'


The following objects are masked from 'package:ggplot2':

    GeomErrorbarh, geom_errorbarh


Loading required package: scales


Attaching package: 'scales'


The following object is masked from 'package:purrr':

    discard


The following object is masked from 'package:readr':

    col_factor


Loading required package: ggridges


New to ggformula?  Try the tutorials:
	learnr::run_tutorial("introduction", package = "ggformula")
	learnr::run_tutorial("refining", package = "ggformula")

Rows: 1242 Columns: 22
-- Column specification --------------------------------------------------------
Delimiter: ","
chr  (1): State
dbl (21): Year, Total Employed RN, Employed Standard Error (%), Hourly Wage ...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  State      Year Total Employed RN Employed Standard Error (%) Hourly Wage Avg
1 Alabama    2020  48850             2.9                        28.96
2 Alaska     2020   6240            13.0                        45.81
3 Arizona    2020  55520             3.7                        38.64
4 Arkansas   2020  25300             4.2                        30.60
5 California 2020 307060             2.0                        57.96
6 Colorado   2020  52330             2.8                        37.43
  Hourly Wage Median Annual Salary Avg Annual Salary Median
1 28.19               60230             58630
2 45.23               95270             94070
3 37.98               80380             79010
4 29.97               63640             62330
5 56.93              120560            118410
6 36.78               77860             76500
  Wage/Salary standard error (%) Hourly 10th Percentile <U+22EF>
1 0.8                            20.75                  <U+22EF>
2 1.4                            31.50                  <U+22EF>
3 0.9                            27.66                  <U+22EF>
4 1.4                            21.47                  <U+22EF>
5 1.0                            36.62                  <U+22EF>
6 0.7                            26.84                  <U+22EF>
  Hourly 90th Percentile Annual 10th Percentile Annual 25th Percentile
1 38.67                  43150                  49360
2 60.70                  65530                  76830
3 50.14                  57530                  67760
4 39.65                  44660                  53490
5 83.35                  76180                  93970
6 50.03                  55820                  64580
  Annual 75th Percentile Annual 90th Percentile Location Quotient
1  68960                  80420                 1.20
2 110890                 126260                 0.98
3  92920                 104290                 0.91
4  73630                  82480                 1.00
5 147830                 173370                 0.87
6  90410                 104070                 0.95
  Total Employed (National)_Aggregate
1 140019790
2 140019790
3 140019790
4 140019790
5 140019790
6 140019790
  Total Employed (Healthcare, National)_Aggregate
1 8632190
2 8632190
3 8632190
4 8632190
5 8632190
6 8632190
  Total Employed (Healthcare, State)_Aggregate
1 128600
2  17730
3 171010
4  80410
5 844740
6 144490
  Yearly Total Employed (State)_Aggregate
1  1903210
2   296300
3  2835110
4  1177860
5 16430660
6  2578000

In [2]:
count(nurses, Year)

   Year n
1  1998 54
2  1999 54
3  2000 54
4  2001 54
5  2002 54
6  2003 54
7  2004 54
8  2005 54
9  2006 54
10 2007 54
11 2008 54
12 2009 54
13 2010 54
14 2011 54
15 2012 54
16 2013 54
17 2014 54
18 2015 54
19 2016 54
20 2017 54
21 2018 54
22 2019 54
23 2020 54

In [3]:
count(nurses, State)

   State                n
1  Alabama              23
2  Alaska               23
3  Arizona              23
4  Arkansas             23
5  California           23
6  Colorado             23
7  Connecticut          23
8  Delaware             23
9  District of Columbia 23
10 Florida              23
11 Georgia              23
12 Guam                 23
13 Hawaii               23
14 Idaho                23
15 Illinois             23
16 Indiana              23
17 Iowa                 23
18 Kansas               23
19 Kentucky             23
20 Louisiana            23
21 Maine                23
22 Maryland             23
23 Massachusetts        23
24 Michigan             23
25 Minnesota            23
26 Mississippi          23
27 Missouri             23
28 Montana              23
29 Nebraska             23
30 Nevada               23
31 New Hampshire        23
32 New Jersey           23
33 New Mexico           23
34 New York             23
35 North Carolina       23
36 North Dakota         23
37 Ohio                 23
38 Oklahoma             23
39 Oregon               23
40 Pennsylvania         23
41 Puerto Rico          23
42 Rhode Island         23
43 South Carolina       23
44 South Dakota         23
45 Tennessee            23
46 Texas                23
47 Utah                 23
48 Vermont              23
49 Virgin Islands       23
50 Virginia             23
51 Washington           23
52 West Virginia        23
53 Wisconsin            23
54 Wyoming              23

## Univariate exploration

First, explore the univariate distribution of the outcome of interest. Fill in the outcome of interest (either median or average hourly wage) in place of "%%" in the code below. You may also want to fill in an appropriate axis label in place of "@@" below. 

+ Summarize any key features of this distribution.

In [ ]:
gf_density(~ %%, data = nurses) |>
  gf_labs(x = "@@")

## Bivariate exploration

It is important to explore relationships bivariately before going to the model phase. To do this, fill in the outcome of interest in place of "%%" below and fill in the appropriate predictor in place of "^^". You may also want to fill in an appropriate axis labels in place of "@@" below. 

+ Summarize the bivariate association

In [ ]:
gf_point(%% ~ ^^, data = nurses, size = 4) |> 
  gf_smooth(method = 'lm', size = 1.5) |>
  gf_smooth(method = 'loess', size = 1.5, color = 'green') |>
  gf_labs(x = "@@",
          y = "@@")

### Jittered bivariate plot

A jittered plot can be helpful in this situation. 

+ We haven't talked about jitter before, compare the following figure

In [ ]:
gf_jitter(%% ~ ^^, data = nurses, size = 4) |> 
  gf_smooth(method = 'lm', size = 1.5) |>
  gf_smooth(method = 'loess', size = 1.5, color = 'green') |>
  gf_labs(x = "@@",
          y = "@@")

## Establish Hyptheses

## Set an $\alpha$ value

## Estimate Parameters

To do this, fill in the outcome of interest in place of "%%" below and fill in the appropriate predictor in place of "^^".

In [ ]:
nurse_year <- lm(%% ~ ^^, data = nurses)

coef(nurse_year) |> round(3)